header {
  background-color: #3a5a40;
  color: white;
  font-family: 'Rubik', sans-serif;
}

h1 {
  display: inline;
  width: fit-content;
  margin-left: 10px;

}

.nav {
  width: fit-content;
  flex-wrap: nowrap;
  margin: 0 auto
}

.nav-link {
  color: white;
  margin: 2px 5px;
  border: solid transparent 1px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #a3b18a;
  border: solid #a3b18a 1px;
  border-radius: 5px;
}